<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scorpion for noobs</title>
    <script type="text/javascript" src="./static/js/handler.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<!--enctype="multipart/form-data"-->
    <form id="image_form">
        {% csrf_token %}
        <div>
            <label for="image_name">Image name</label>
            <input type="text" id="image_name">
        </div>
        <div>
            <label for="image_height">Image height</label>
            <input type="text" id="image_height">
        </div>
        <div>
            <label for="image_width">Image width</label>
            <input type="text" id="image_width">
        </div>
        <div>
            <label for="image_file">Image file</label>
            <input type="file" id="image_file" accept="image/*">>
        </div>
        <div>
            <button type="button" onclick="onSubmit()">Submit</button>
        </div>
    </form>
</body>
</html>